<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99938623392-qtbgauqdn0rv7mqro1dfbsee0a1bv3bj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99938623392-qtbgauqdn0rv7mqro1dfbsee0a1bv3bj</string>
	<key>API_KEY</key>
	<string>AIzaSyD6wJsf4W4H2u_B31oJK4gwHwu9-S4uvfI</string>
	<key>GCM_SENDER_ID</key>
	<string>99938623392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dailywords.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dailywordskz</string>
	<key>STORAGE_BUCKET</key>
	<string>dailywordskz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99938623392:ios:51f1088b108fe3a7c8cec5</string>
</dict>
</plist>